<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" stopOnFailure="true" colors="true" strict="true">
    <testsuites>
        <testsuite name="all">
            <file>tests/EventAbstractTest.php</file>
            <file>tests/EventTest.php</file>
            <file>tests/ListenerAbstractTest.php</file>
            <file>tests/DispatcherTest.php</file>
            <file>tests/ClosureWrapperTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">src/Interfaces</directory>
            </exclude>
        </whitelist>
        <blacklist>
            <directory suffix=".php">./vendor</directory>
        </blacklist>
    </filter>
</phpunit>